<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Ask Sara</title>
	<!-- Don't forget to add your metadata here -->
	<link rel='stylesheet' href='../static/css/style.min.css' />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	 <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
	
		
      	<!-- Compiled and minified CSS -->

  		<!--Import Google Icon Font-->
      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;  
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>
		

    <style type="text/css">
        
.col-md-2, .col-md-10{
    padding:0;
	
}
.col-md-auto{
width:auto;
height:auto;
color:White;
font-size=5px;

}
.panel{
    margin-bottom: 0px;
	
	
}
.chat-window{
    bottom:0;
	right:0;
    position:fixed;
    float:right;

}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
	border-left:1.2px solid gray;
	
}
.icon_minim{
    padding:3px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:670px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:10%;
    margin-left:10px;
	background-color:#01478C;
	border-radius: 20px 20px 20px 0px;
}
.msg_sent{
border-radius: 20px 20px 0px 20px;
    padding-left:10%
    padding-bottom:20px !important;
	padding-right:10
    margin-right:10;
	background-color:#FFFFFF;
}
.messages {
  
  padding: 10px;
  border:1px solid black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:auto;
  padding-left:30px
  padding-right:25px

}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
	background-color:#FFFFFF;
}
.chatimg {
    display: block;
    width: 80%;
}
.avatar {
    position: relative;

}
.base_receive {

}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
border-radius:15px
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
	opacity:1;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ADADAD;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	}
	div.chatopen{
	position: fixed;
    bottom: 0px;
    right:100px;
	}
	
	.input-group-btn {
    
    padding-left: 14px;
	bottom:100%;
}
.input-group{
    
	bottom:100%;
}
#chatbox{
bottom:100%;
}

    </style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Hero(extended) navbar -->
	
	
	
	<!-- Steps -->
	<div class="steps landing__section">
		<img src="../static/citihome.jpg" style="height:1200;weight:1400;"/>
		</div>
	</div>
	<!-- Expanded sections -->
	
	
<script src='../static/js/app.min.js'></script>


<div class="chatopen" >
	<div class="row">
        <div class="round hollow text-center" style="width:200px;" >
       <h4> <a href="#" id="submit" ><span class="glyphicon glyphicon-comment"></span> Open in chat  </a></h4>
	   
        </div>
        
        <hr>
       
	</div>
</div>

 <div class="container pull-right" id="chatbox" >
    <div class="row chat-window col-xs-5 col-md-3 pull-right" id="chat_window_1">
        <div class="col-xs-12 col-md-12">
          <div class="panel panel-default"  >
                <div class="panel-heading top-bar" style="background-color:#1f4d7a">
                    <div class="col-md-8 col-xs-8">
						
                        <h3 class="panel-title" style="font-weight:bold;"><img src="../static/img3.png" class="bot4"></img><font color="white"></font>  </h3>
						
						
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
					  <a href="#">  <i class="fa fa-envelope" style="color:white;" title="coming soon!"></i></a>
					  <!-- <a href="#"> <span id="minim_chat_window" class="glyphicon glyphicon-phone"></span></a>-->
			           <a href="#"> <span id="minim_chat_window" class="glyphicon glyphicon-refresh icon_refresh" style="color:white;" title="restart the conversation!"></span></a>
			     
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim" style="color:white;" title="minimize" ></span></a>
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-remove icon_close" style="color:white;" data-id="chat_window_1" title="Close"></span></a>
                    </div>
                </div>
				<div  class="alert alert-primary" style="background-color:#9fbfdf;word-wrap:break-word;" >
				<p style="font-size:13px;"><font color="black">Please do not share information such as your <b>CVV</b> or <b>card expiration date</b> . This chat may be recorded or monitored.
				</font></p></div>
                <div id="messagebody" class="panel-body msg_container_base" style="border-left:1px solid balck;" style="opacity:.5;">
				
				          
		
		
                  
				       
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <div class="autocomplete" style=" width:300px; margin-top:10px; bottom:100%;" >
						<input name="autocomplete" id="btn-input" type="text" class="form-control input-sm chat_input" style="margin-right:20px"; placeholder="Write your message here..." required="required" />
						</div>
                        <span class="input-group-btn">

						<button class='btn btn-default btn-sm' id="start-record-btn" style="border-radius:50%; border-color:green;">  <i class="fa fa-microphone"></i></button>
					     <button class='btn btn-default btn-sm' id="pause-record-btn" style="display:none;border-radius:50%; border-color:green;">  <i class="fa fa-microphone-slash"></i></button>
                        <button class="btn btn-default btn-sm" id="btn-chat" style="background-color:#1f4d7a; font-weight:bold; color:white;">Send</button>
                        </span>
                    </div>
                </div>
        </div>
        </div>

    
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/formfunc28.js') }}" > </script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
	
		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<!-- Example 1 -->
<script>
var text_su;
function autocomplete(inp, arr) {
 
  var currentFocus;
   inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
       closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
       a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
       this.parentNode.appendChild(a);
       for (i = 0; i < arr.length; i++) {
         if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
           b = document.createElement("DIV");
           b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
           b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
           b.addEventListener("click", function(e) {
               inp.value = this.getElementsByTagName("input")[0].value;
               closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
   inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
         currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { 
 
        currentFocus--;

        addActive(x);
      } else if (e.keyCode == 13) {

        e.preventDefault();
		
        if (currentFocus > -1) {

          if (x) x[currentFocus].click();
		  send_enter()
		  
        }
		else
		{
		send_enter()
		closeAllLists();
		}
      }
  });
  function addActive(x) {

    if (!x) return false;

    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);

    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {

    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {

    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }

  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
      });
}



</script>

<script type="text/javascript">
// From: http://stackoverflow.com/questions/17365821/using-jquery-autocomplete-with-flask
// Highlight matched text: http://salman-w.blogspot.com/2013/12/jquery-ui-autocomplete-examples.html#example-4 
$(function() {
	function highlightText(text, $node) {
				var searchText = $.trim(text).toLowerCase(), currentNode = $node.get(0).firstChild, matchIndex, newTextNode, newSpanNode;
				while ((matchIndex = currentNode.data.toLowerCase().indexOf(searchText)) >= 0) {
					newTextNode = currentNode.splitText(matchIndex);
					currentNode = newTextNode.splitText(searchText.length);
					newSpanNode = document.createElement("span");
					newSpanNode.className = "highlight";
					currentNode.parentNode.insertBefore(newSpanNode, currentNode);
					newSpanNode.appendChild(newTextNode);
				}
			}
    $.ajax({
        url: '{{ url_for("autocomplete") }}'
        }).done(function (data) {
		console.log(data)
            text_su=data.matching_results;
			//console.log("before text_su")
			//console.log(text_su.matching_results.length)
			autocomplete(document.getElementById("btn-input"), text_su);
    });
});
</script>		
		
<script type="text/javascript">

    var queue=[]
	var attrs = {"cust_amount":"","appln_ent":"","pan":"","start_date":"","end_date":"","city":"","country":"","merchant":"","last_name":"","phone":"","account_id":"",'amount':"","card":"","score":"","date":"","payment":"","card1":"","limit":"","application":"","otp":"","offer_apr":"","APR_nonpromo":"","transfer_fees":"","ex_lim_req":""}
	var last_type=""
	var last_intent=""
	var last_attempt=0
	var prev_valid=0
	$("#chatbox").hide();
	$(document).ready(function () {
    $('#submit').click(function () {
	$("#chatbox, #chatbox").toggle();
	
	
			
	
    });
	
});


function include_html(file_name)
{
console.log(attrs['inval_flag'])
if(attrs['inval_flag']=='1')
{
$(function () {
                $.get("../static/"+file_name, function (data) {
                    $("#messagebody").append(data);
                });
				
				
            });
			//document.getElementById("autocomplete").disabled = true;
			//document.getElementById("btn-chat").disabled = true;
			console.log("i am out from the demo call");
			//attrs["inval_flag"]=""
}
}


function include_wait(file_name)
{

if(isNaN(file_name))
{
$(function () {
                $.get("../static/"+file_name, function (data) {
                    $("#messagebody").append(data);
                });
				
				
            });
			//document.getElementById("autocomplete").disabled = true;
			//document.getElementById("btn-chat").disabled = true;
			console.log("i am out from the demo call");
}
//attrs["inval_flag"]="1"
}




try {
  var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  var recognition = new SpeechRecognition();
}
catch(e) {
  console.error(e);
  $('.no-browser-support').show();
  $('.app').hide();
}


var noteTextarea = $('#note-textarea');
var instructions = $('#recording-instructions');
var notesList = $('ul#notes');

var noteContent = '';




/*-----------------------------
      Voice Recognition 
------------------------------*/

// If false, the recording will stop after a few seconds of silence.
// When true, the silence period is longer (about 15 seconds),
// allowing us to keep recording even when the user pauses. 
recognition.continuous = true;

// This block is called every time the Speech APi captures a line. 
recognition.onresult = function(event) {

  // event is a SpeechRecognitionEvent object.
  // It holds all the lines we have captured so far. 
  // We only need the current one.
  var current = event.resultIndex;

  // Get a transcript of what was said.
  var transcript = event.results[current][0].transcript;

  // Add the current transcript to the contents of our Note.
  // There is a weird bug on mobile, where everything is repeated twice.
  // There is no official solution so far so we have to handle an edge case.
  var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

  if(!mobileRepeatBug) {
    var tb = transcript;
	//alert(tb)
	//document.getElementById("autocomplete").value=''
if(tb.trim()!='')
	{
	send("me",tb);
    var val = "hi";
    var entry1 = tb;

  var requestBody={text:tb,"last_type":last_type,"last_intent":last_intent,"last_attempt":last_attempt,"attrs":attrs,"prev_valid":prev_valid}
  console.log(requestBody)
	
	$.ajax({
	url:"/getData",
	type:"post",
	data:JSON.stringify(requestBody),
	dataType:"json",
	contentType:"application/json",
	success: function(data){
		console.log(data)
		attrs=data['attrs']
		console.log("i am in page")
		/*if(data["rp_val"].includes("answer only limited queries")){
			console.log("i am in startpage")
			send("BOT",data["rp_val"])
			include_html('startpage17.html');}
		 else if(data["rp_val"].includes("yes/no")){
			console.log("i am in yes/no")
			send("BOT",data["rp_val"])
			include_html('yes_no.html');}
		else if(data["rp_val"].search("enter the new credit limit") != -1){
		  console.log("i am in slider")
			send("BOT",data["rp_val"])
			include_html('slider5.html');}
		else if(data["rp_val"].search("date") != -1){
		  console.log("i am in slider")
			send("BOT",data["rp_val"])
			include_html('calendar1.html');}
			*/
			console.log(data)
		console.log("i am in page")
		queue.push(data["rp_val"])
		attrs=data['attrs']
		var words = queue.shift();
		res = words.filter(word => word.trim().length >= 1);

		console.log(res)
		
			
				    send_before_res("BOT",res[i]+". "+res[i+1]+".",i+1)
						
		   
			
			
			include_html(data['attrs']['form']+'.html');
			attrs=data["attrs"]
			attrs['form']=""
			last_attempt=data["last_attempt"]
			last_type=data["last_type"]
			last_intent=data["last_intent"]
			prev_valid=data["prev_valid"]
			
			
		
		}
	});
}

  }
};

recognition.onstart = function() { 
  instructions.text('Voice recognition activated. Try speaking into the microphone.');
}

recognition.onspeechend = function() {
  instructions.text('You were quiet for a while so voice recognition turned itself off.');
}

recognition.onerror = function(event) {
  if(event.error == 'no-speech') {
    instructions.text('No speech was detected. Try again.');  
  };
}



/*-----------------------------
      App buttons and input 
------------------------------*/

$('#start-record-btn').on('click', function(e) {
$('#start-record-btn').hide();
$('#pause-record-btn').show();

  if (noteContent.length) {
    noteContent += ' ';
  }
  recognition.start();
});
$('#pause-record-btn').on('click', function(e) {

$('#pause-record-btn').hide();
$('#start-record-btn').show();

  recognition.stop();
  instructions.text('Voice recognition paused.');
});







/*-----------------------------
      Speech Synthesis 
------------------------------*/

function readOutLoud(message) {
	var speech = new SpeechSynthesisUtterance();

  // Set the text and voice attributes.
	speech.text = message;
	speech.volume = 1;
	speech.rate = 1;
	speech.pitch = 1;
  
	window.speechSynthesis.speak(speech);
}

	
	
$(document).on('click', '.panel-heading span.icon_minim', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
//testing
$(document).on('click', '.panel-heading span.icon_refresh', function (e) {

   attrs = {"cust_amount":"","appln_ent":"","pan":"","start_date":"","end_date":"","city":"","country":"","merchant":"","last_name":"","phone":"","account_id":"",'amount':"","card":"","score":"","date":"","payment":"","card1":"","limit":"","application":"","otp":"","offer_apr":"","APR_nonpromo":"","transfer_fees":"","ex_lim_req":""}
	queue=[]
	last_type=""
	last_intent=""
	last_attempt=0
	prev_valid=0
	$("#messagebody").empty()
	setTimeout(send_before,500);
    
});
function send_before()
{

send("BOT","Hi there! It seems I was not able to correctly understand your problem. Let me help you with the list of issues I can resolve as of today.")
include_wait("t_reason6"+'.html');
//include_wait("report12"+'.html');
}

//testing code end


$(document).on('focus', '.panel-footer input.chat_input', function (e) {
    var $this = $(this);
    if ($('#minim_chat_window').hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideDown();
        $('#minim_chat_window').removeClass('panel-collapsed');
        $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('click', '#new_chat', function (e) {
    var size = $( ".chat-window:last-child" ).css("margin-left");
     size_total = parseInt(size) + 400;
   
    var clone = $( "#chat_window_1" ).clone().appendTo( ".container" );
    clone.css("margin-left", size_total);
});
$(document).on('click', '.icon_close', function (e) {
    //$(this).parent().parent().parent().parent().remove();
    $( "#chatbox" ).hide();
});

// send function start

function send_before_res(sender,data,ratio)
{
//setTimeout(include_wait.bind("load","load2.html"),1000*ratio)
/*setTimeout(function(){
document.getElementById("load").remove();
},1100*ratio);*/
//$("#load").empty();
//document.getElementById("load").value=data
console.log("i am in send_before_Res   " +attrs)
setTimeout(send.bind(null, sender,data), 700 * ratio);
}


function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}

function send(type,response1){
console.log("i am in inside send page")
	var chat = $("#btn-input").val(); 
var date = formatAMPM(new Date());
if (type =="me") {
    
var body=	'<div class="row msg_container base_receive col-md-auto " style="width:392px;">'+
                        '<div class=" col-md-auto col-md-2 col-xs-2 avatar">'+
                           
                        '</div>'+
                        '<div class="col-md-10 col-xs-10 col-md-auto">'+
                            '<div class="messages msg_receive col-md-auto">'+
                                '<div class="col-md-auto w3-animate-zoom"><font color="white"> '+response1+'</font></div>'+
                                '<br><div class="col-md-auto"><small>'+date+'</small></div>' +
                            '</div>'+
                        '</div>'+
                    '</div>'
	
	
} else
{
  response1=convert(response1)
var body =                       '<div class="row msg_container base_sent">' +
						'<div class=" col-md-auto col-md-10 col-xs-10 ">' +
                            '<div class="messages msg_sent col-md-auto">' +
                                '<div class=" col-md-auto col-md-auto w3-animate-zoom"><font color="black">'+ response1 + '</font></div>'+
                              '<div class="col-md-auto" style="color:black;"><small>'+date+'</small></div>' +
                            '</div>' +
                        '</div>' +
                        '<div class="col-md-2 col-xs-2 avatar">' +
                            '<img class="chatimg" src="{{ url_for("static", filename="robo3.png") }}" class=" img-responsive ">' +
                        '</div>' +
					'</div>';
}
$(body).appendTo("#messagebody");
$('#btn-input').val('');
$("#messagebody").animate({ scrollTop: $("#messagebody")[0].scrollHeight}, 'slow');
}


// send function end




$( "#btn-chat" ).click(function() {
	
 var tb = document.getElementById("btn-input").value;
	if(tb.trim()!='')
	{
	send("me",tb);
    var val = "hi";
    var entry1 = tb;

  var requestBody={text:tb,"last_type":last_type,"last_intent":last_intent,"last_attempt":last_attempt,"attrs":attrs,"prev_valid":prev_valid}
  console.log(requestBody)
	
	$.ajax({
	url:"/getData",
	type:"post",
	data:JSON.stringify(requestBody),
	dataType:"json",
	contentType:"application/json",
	success: function(data){
		console.log(data)
		console.log("i am in page")
		queue.push(data["rp_val"])
		attrs=data['attrs']
		var words = queue.shift();
		res = words.filter(word => word.trim().length >= 1);

		console.log(res)
		
			
				    send_before_res("BOT",res[i]+". "+res[i+1]+".",i+1)
						
		   
			
			
			include_html(data['attrs']['form']+'.html');
			attrs=data["attrs"]
			attrs['form']=""
			last_attempt=data["last_attempt"]
			last_type=data["last_type"]
			last_intent=data["last_intent"]
			prev_valid=data["prev_valid"]
			
			
		
		$("#load").empty();
		
		}
	});
}





//send()
});

$('#btn-input').keypress(function (e) {
  if (e.which == 13) {
  var tb = document.getElementById("btn-input").value;
	if(tb.trim()!='')
	{
	send("me",tb);
    var val = "hi";
    var entry1 = tb;

  var requestBody={text:tb,"last_type":last_type,"last_intent":last_intent,"last_attempt":last_attempt,"attrs":attrs,"prev_valid":prev_valid}
  console.log(requestBody)
	
	$.ajax({
	url:"/getData",
	type:"post",
	data:JSON.stringify(requestBody),
	dataType:"json",
	contentType:"application/json",
	success: function(data){
		console.log(data)
		console.log("i am in page")
		queue.push(data["rp_val"])
		attrs=data['attrs']
		var words = queue.shift();
		res = words.filter(word => word.trim().length >= 1);

		console.log(res)
		
		   console.log(data['attrs']['form'])
		   
			send_before_res("BOT",res)

			
			
			include_html(data['attrs']['form']+'.html');
			attrs=data["attrs"]
			attrs['form']=""
			last_attempt=data["last_attempt"]
			last_type=data["last_type"]
			last_intent=data["last_intent"]
			prev_valid=data["prev_valid"]
			
		
		$("#load").empty();
		
		}
	});
}



	//send()
  }
})


function send_enter()
{
  var tb = document.getElementById("btn-input").value;
	if(tb.trim()!='')
	{
	send("me",tb);
    var val = "hi";
    var entry1 = tb;

  var requestBody={text:tb,"last_type":last_type,"last_intent":last_intent,"last_attempt":last_attempt,"attrs":attrs,"prev_valid":prev_valid}
  console.log(requestBody)
	
	$.ajax({
	url:"/getData",
	type:"post",
	data:JSON.stringify(requestBody),
	dataType:"json",
	contentType:"application/json",
	success: function(data){
		console.log(data)
		console.log("i am in page")
		attrs=data['attrs']
		queue.push(data["rp_val"])
		var words = queue.shift();
		res = words
		console.log(res)
		   console.log(data['attrs']['form'])
			send_before_res("BOT",res)
			include_html(data['attrs']['form']+'.html');
			attrs=data["attrs"]
			attrs['form']=""
			last_attempt=data["last_attempt"]
			last_type=data["last_type"]
			last_intent=data["last_intent"]
			prev_valid=data["prev_valid"]
			
			
		
		$("#load").empty();
		
		}
	});
}


}

function send_fromform(tb)
{
  //var tb = document.getElementById("btn-input").value;
	if(tb.trim()!='')
	{
			tb1=tb.split(',')
			//tb2="Card Number : "+tb1[0]+"\n"+"Date : "+tb1[1]+"\n"+"Amount : "+tb1[2]+"\n"+"Merchant : "+tb1[3]
			send("me","Card Number : "+tb1[0]);
			send("me","Date : "+tb1[1]);
			send("me","Amount : "+tb1[2]);
			send("me","Merchant : "+tb1[3]);
			var val = "hi";
			var entry1 = tb;

		  var requestBody={text:tb,"last_type":last_type,"last_intent":last_intent,"last_attempt":last_attempt,"attrs":attrs,"prev_valid":prev_valid}
		  console.log(requestBody)
			
					$.ajax({
					url:"/getData",
					type:"post",
					data:JSON.stringify(requestBody),
					dataType:"json",
					contentType:"application/json",
							success: function(data)
							{
										console.log(data)
										console.log("i am in page")
										queue.push(data["rp_val"])
										attrs=data['attrs']
										var words = queue.shift();
										
										console.log(res)
											   
											   console.log(data['attrs']['form'])
											  
												send_before_res("BOT",res)
												include_html(data['attrs']['form']+'.html');
												attrs=data["attrs"]
												attrs['form']=""
												last_attempt=data["last_attempt"]
												last_type=data["last_type"]
												last_intent=data["last_intent"]
												prev_valid=data["prev_valid"]
												
										
									
										$("#load").empty();
								
							}
					});


		}


}

</script>
<script type="text/javascript">
    	function convert(text){
	
    if (text) {
        text = text.replace(
            /((https?\:\/\/)|(www\.))(\S+)(\w{2,4})(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/gi,
            function(url){
                var full_url = url;
                if (!full_url.match('^https?:\/\/')) {
                    full_url = 'http://' + full_url;
                }
				
                return '<a href="' + full_url + '"' + ' target="_blank">' + 'click here' + '</a>';
            }
        );
    }
	var regex = /\[(.*?)\]/g;
	text=text.replace(regex, '<b>$1</b>');
	text1=text.replace(/\#/g, "<br/>")
	console.log(text1)
    return text1;
}
  </script>

</body>
</html>