	
			<form id="rendered-form" style="background-color:white;">
				<div class="row rendered-form"> 
					<div class="col-sm-2 fb-button form-group field-button-1522928119632">
						<button type="button" class="btn btn-success btn-lg" name="button-1522928119632" value="Yes" style="info" id="button-1522928119632">Yes</button>
					</div>
					<div class="col-sm-2 fb-button form-group field-button-1522928123452">
						<button type="button" class="btn btn-danger btn-lg" name="button-1522928123452" value="No" style="info" id="button-1522928123452">No</button>
					</div>
				</div>
			</form>